.news-card {
  padding: 15px;
  text-align: center;
  width: 25%;
  flex-shrink: 0;

  &__content {
    background: rgba(210,210,230,0.20);
    text-decoration: none;
    padding: 10px;
    display: block;
    color: inherit;
    height: 200px;
    border-radius: 20px;
    transition: background ease-in-out 150ms;

    &:hover {
      background: rgba(0,50,255,0.06);
      cursor: pointer;
    }

    &__footer {
      padding-top: 4px;
    }

    &__title-outer {
      line-height: normal;
      font-weight: bold;
      font-size: 18px;
      height: 180px;
      display: flex;
    }

    &__title-inner {
      line-height: normal;
      font-weight: bold;
      font-size: 18px;
      margin: auto;
    }

    &__time {
      line-height: normal;
      text-align: right;
      font-size: 12px;
      color: darkgray;

      width: 60%;
      margin-left: 40%;
    }

    &__remove {
      width: 40%;
      float: left;
      background: transparent;
      border: none;
      padding: 0;
      font-weight: 300;
      font-size: 12px;
      color: #4362ff;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: #689dff;
      }
    }
  }
}