.news-info {
  padding: 15px;
  text-align: center;
  width: 100%;
  flex-shrink: 0;

  &__content {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: inherit;
    border-radius: 20px;
    transition: background ease-in-out 150ms;

    &__footer {
      padding: 0 50px;
      width: 100%;
    }

    &__title {
      line-height: normal;
      font-weight: bold;
      font-size: 20px;
      display: flex;
      margin-bottom: 10px;
    }

    &__description {
      line-height: normal;
      text-align: justify;
      font-size: 18px;
      color: darkgray;
    }

    &__time {
      line-height: normal;
      text-align: right;
      font-size: 12px;
      margin-top: 10px;
      color: lightgray;
      width: 100%;
    }

    &__back-item {
      width: 50%;
      padding-left: 25px;
      text-align: left;
      text-decoration: none;
      font-weight: 300;
      color: #4362ff;

      &:hover {
        color: #689dff;
      }
    }

    &__back-link {
      width: 50%;
      float: left;
      text-decoration: none;
      font-weight: 300;
      color: #4362ff;

      &:hover {
       color: #689dff;
      }
    }
    &__block-remove {
      width: 50%;
      margin-left: 50%;
      margin-right: 30px;
      text-align: right;

      &__link {
        font-size: 16px;

        background: transparent;
        border: none;
        padding: 0;
        font-weight: 300;
        color: #4362ff;
        cursor: pointer;

        &:hover {
          color: #689dff;
        }
      }
    }

    &__r {
      text-align: right;

      width: 50%;
      margin-left: 50%;
    }

    &__l {
      width: 50%;
      float: left;
    }
  }
}