@import "components/elements-list";
@import "components/news-favourites";
@import "components/news-list";
@import "components/news-card";
@import "components/news-info";
@import "components/page";

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', Ubuntu, 'segoe ui', arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    min-width: 900px;
    max-width: 1024px;
    padding: 0 25px;
    margin: 0 auto;
}